@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

html {
  scroll-behavior: smooth !important;
}

@layer utilities {
  .clip-path-hero {
    clip-path: polygon(0 0, 100% 0, 100% 10%, 0 50%);
  }
}

.my_section {
  @apply flex flex-col w-full justify-center items-center py-20 px-6 md:px-0;
}

.my_container {
  @apply flex flex-col w-full max-w-my_max_width gap-my_gap;
}

.my_hero_title {
  @apply text-4xl sm:text-6xl font-semibold;
}

.my_h1 {
  @apply text-2xl sm:text-4xl font-semibold;
}

.my_h2 {
  @apply text-lg font-semibold;
}

.my_p {
  @apply text-lg font-normal;
}

.my_initial_pt {
  @apply pt-20;
}

.input {
  @apply border-black border p-1 rounded focus:outline-1 focus:opacity-60;
}
